#navbar-icon {
  margin-right: 10px;
}

@media (min-width: 768px) {
  #navbar-icon {
    margin-right: 15px;
  }
}

.navbar-brand {
  font-weight: 300;
}

.nav-item {
  font-weight: 200;
}

.heading-div {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
}

#main-first-row {
  align-items: center;
}

.section1header {
  color: white;
}

.section1header {
  font-weight: 200;
}

@media (min-width: 992px) {
  #hero-img {
    content: url(../../assets/img/drip5iPhones.png)!important;
    max-height: 80vh;
  }
}

@media (min-width: 576px) {
  #hero-img {
    content: url(../../assets/img/iphone12trio.png);
    max-height: 80vh;
  }
}

@media (max-width: 575px) {
  #hero-img {
    content: url(../../assets/img/iphone12solo.png);
    max-height: 80vh;
  }
}

body {
  padding-top: 60px;
}

@media (max-width: 768px) {
  #left-showcase-column {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.row.second-row {
  align-items: center;
}

.section2heading {
  font-weight: 200;
  color: white;
  text-align: center;
}

.imagecontainer {
  text-align: center;
  padding-bottom: 40px;
}

.section2heading {
  padding-top: 40px;
  padding-bottom: 20px;
}

.section2p {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .section2heading {
    font-size: 55px;
  }
}

@media (min-width: 992px) {
  .section2p {
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.section3icon {
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section3col {
  text-align: center;
  padding-top: initial;
}

.section3header {
  padding-top: 5px;
  padding-bottom: 30px;
}

#hero-img {
  padding-bottom: 20px;
}

